<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.udn.dut.algoarena.port.mapper.ExamResultDetailMapper">
	<resultMap type="vn.udn.dut.algoarena.port.domain.vo.ExamResultDetailVo" id="ExamResultDetailResult">
        <id property="id" column="id"/>
    </resultMap>
    
    <sql id="selectExamResultDetailVo">
    	select e.id,
			  e.tenant_id,
		      e.exam_id,
		      e.exam_result_id,
			  e.problem_id,
			  e.score,
		      e.completed_time,
			  e.create_dept,
			  e.create_by,
			  e.create_time,
			  e.update_by,
			  e.update_time,
			  e.remark
		from exam_result_detail e
    </sql>
    
    
    <select id="selectPageExamResultDetailList" resultMap="ExamResultDetailResult">
    	select * from (
    		<include refid="selectExamResultDetailVo"/>
    		${ew.getCustomSqlSegment}
    	) a
    </select>
    
    <select id="selectExamResultDetailList" resultMap="ExamResultDetailResult">
    	select * from (
    		<include refid="selectExamResultDetailVo"/>
    		${ew.getCustomSqlSegment}
    	) a
    </select>
</mapper>
